header{
	background: no-repeat center center;
	background-size: cover;
	color: white;
}

a.nav-link:hover,
a.nav-link.active {
    color: #f83691;
}

.color-overlay{
	min-height: 100vh;
}

.singleCol{
	max-width: 750px;

}
p.lead{
	text-align: justify;
}

li{
	text-align: justify;
}

p.myexp{
	text-align: justify;
}

div.card{
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.336);
}

.mangga {
	background-image: linear-gradient(#F7D6E0, #EFF7F6, #F7D6E0);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
	flex: 1 0 auto;
}

button.navbar-toggler{
	border-color: #f83691;
	color: #f83691;
}

button.navbar-toggler:hover {
	background-color: #ffb9ce;
	border-color: #000000;
	color: #000000;
}

button.btn.btn-primary {
	border-color: #f83691;
	background-color: #f83691;
	color: #ffffff;
}

button.btn.btn-primary:hover {
	border-color: #993352;
	background-color: #993352;
	color: #ffffff;
}
span.navbar-toggler-icon{
	color: #f83691;
}

a.btn.btn-outline-dark{
	border-color: #f83691;
	color: #000000;
}

a.btn.btn-outline-dark:hover{
	border-color: #3c3a44;
	background-color: #f83691;
	color: #ffffff;
}

a.nav-link {
	text-align: center;
}

input#firstName.form-control{
	border-color: #000000;
}

input#lastName.form-control{
	border-color: #000000;
}

input#email.form-control{
	border-color: #000000;
}

textarea#comments.form-control{
	border-color: #000000;
}

main {
	flex: 1 0 auto;
}

footer {
	background-color: #3a3a3a;
	flex-shrink: 0;
}

footer a{
	color: #f83691;
}

footer a:hover{
	color: rgb(71, 113, 167);
}


@media (max-width: 768px) {
	.color-overlay{
		min-height: 30vh;
	}
}
